<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jipjung.hucomin.sinderella">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_x"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_x"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.test.android.test.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity android:name=".CartActivities.AddProduct"></activity>
        <activity android:name=".InAppBrowser.InAppBrowser" />
        <activity android:name=".CartActivities.CartDetail" />
        <activity android:name=".HomeActivities.VV"/>
        <activity android:name=".StartAppActivities.FirstPage" />
        <activity
            android:name=".StartAppActivities.SplashScreen"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:theme="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartAppActivities.EmailPasswordActivity" />
        <activity android:name=".HomeActivities.HomeFeed"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".StartAppActivities.UserInfoInput" />
        <activity android:name=".PostActivities.Posting" />
        <activity android:name=".PostActivities.DetailedPost" />
        <activity android:name=".MyMenuActivities.MyMenu" />
        <activity android:name=".MyMenuActivities.OtherMyMenu"/>
        <activity android:name=".Search.SearchActivity" />
        <activity android:name=".PostActivities.FindModel"/>
    </application>

</manifest>