<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jipjung.hucomin.sinderella">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_x"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_x"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartAppActivities.FirstPage"></activity>
        <activity
            android:name=".StartAppActivities.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@drawable/logo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartAppActivities.EmailPasswordActivity"></activity>
        <activity android:name=".HomeActivities.HomeFeed"></activity>
        <activity android:name=".StartAppActivities.UserInfoInput"></activity>
        <activity android:name=".PostActivities.Posting"></activity>
        <activity android:name=".PostActivities.DetailedPost"></activity>
    </application>

</manifest>